@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 85px 39px 28px 39px;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
.title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 275;
    line-height: 36px;
    color: rgba(7, 79, 98, 1);
    margin-bottom: 1px;
}
.bold-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: rgba(77, 79, 98, 1);
    margin-bottom: 13px;

}
.text{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: rgba(77, 79, 98, 1);
    margin-bottom: 76px;
    opacity: 0.5;
}
.text-desktop{
    display: none;
}
.box{
    width:100%;
    background-color: #FFFFFF;
    padding: 27px 28px 27px 28px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    border-top-width: 3.55px;
    border-top-color: rgba(68, 211, 210, 1);
    margin-bottom: 24px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);;
}
.red{
    border-top-color: rgba(234, 84, 84, 1);

}
.yellow{
    border-top-color: rgba(252, 174, 74, 1);

}
.blue{
    border-top-color: rgba(84, 158, 242, 1);
}
.second-title{
    margin-bottom: 1px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: rgba(77, 79, 98, 1);

}
.second-text{
    margin-bottom: 33px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(77, 79, 98, 1);
    opacity: 0.5;
}
.logo{
    
    margin-left: 157px;
}
@media(min-width:1440px){
    body{
        padding: 80px 165 px 80px 165px;
    }
    .title{
        font-family: Poppins;
        font-size: 36px;
        font-weight: 275;
        line-height: 54px;
        text-align: center;
        
    }
    .bold-title{
        font-family: Poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        text-align: center;
    }
    .text{
        display: none;
    }
    .text-desktop{
        display: block;
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        color: rgba(77, 79, 98, 1);
        margin-bottom: 64px;
        opacity: 0.5;
    }
    .box{
        width:350px;

    }
    .boxes {
        width: 1150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        padding: 0;
        margin: 0 auto;
    }
   
}